*.tmp.nlogo
/Pakistan/output/Runs
/Pakistan/output/Calibrate
/VIC_2/output/calibrate
/VIC_2/docs/*.aux
/VIC_2/docs/*.log
/VIC_2/docs/*.gz
/Pakistan/input/PakistanPastInfection.xlsx
/Pakistan/input/Workings for triggers.xlsx
/Pakistan/input/base_population_mor_3.csv
/Pakistan/input/popcost_dr_for_tim.xlsx
/Pakistan/input/possibleRuralCensur.xlsx
/Pakistan/modelParams
/VIC_2/output
/NSW/output
/NSW/__pycache__
/VIC_3/output
/VIC_3/__pycache__
/NZ/output
/NZ/__pycache__
/VIC_3_2021_08_18/__pycache__
/process/shared/__pycache__/*.pyc
/process/parallel/__pycache__/*.pyc
/process/serial/__pycache__/*.pyc
/abm/__pycache__/*.pyc
/process/rcalc/__pycache__/*.pyc
/process/__pycache__/*.pyc
/docs/specs.log
/docs/specs.synctex.gz
/docs/specs.aux
/docs/~$inputParams.xlsx
/setup/__init__.py
/setup/__pycache__/__init__.cpython-38.pyc
/setup/__pycache__/makeModelXmls.cpython-38.pyc
/setup/__pycache__/modelSetup.cpython-38.pyc
/setup/__pycache__/readNetlogo.cpython-38.pyc
/setup/__pycache__/*.pyc
